.About-container
    padding 32px
    width 100%
    display flex
    align-items center
    & img
        border-radius 50%
        box-shadow: 0px 0px 20px -5px
    & .About-title
        margin-left 50px
    & .About-item
        margin 0