@import '../lib/colors.styl'
@import '../lib/extends.styl'

imgSize = 200px

.Carousel-item-container
    background-color palevioletred
    width imgSize
    height imgSize
    border-radius 20px
    overflow hidden
    margin-right 10px
    display inline-block
    cursor pointer
    transition 450ms
    transform-origin center left
    position relative
    @extend .Carousel-skeuomorphic
    &:hover
        opacity 1 !important
        transform scale(1.1)

        ~ .Carousel-item-container
            transform translate3d(50px, 0, 0)


        .Carousel-item-container-details-subtitle
            opacity 1

.Carousel-item-container-img
    width imgSize
    height imgSize
    object-fit cover

.Carousel-item-container-details
    background linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%)
    font-size 10px
    opacity 0
    transition 450ms opacity
    padding 10px
    position absolute
    right 0
    bottom 0
    left 0
    color white
    img
        width 2em
        &:hover
            opacity .8
            transform scale(1.1)

.Carousel-item-container-details-title
    width 100%
    overflow hidden
    text-overflow ellipsis