.Carousel-section
    width calc(100% - 60px)
    overflow-x auto
    position relative
    overflow-y hidden
    &::-webkit-scrollbar
        height 10px

    &::-webkit-scrollbar-thumb
        background rgba(44, 44, 44, 0)
        border-radius 5px

    &::-webkit-scrollbar-track
        background transparent

    &:hover
        &::-webkit-scrollbar-thumb
            background rgba(44, 44, 44, 0.5)

.Carousel-section-container
    white-space nowrap
    padding 20px 8px
    &:hover
        .Carousel-item-container
            opacity 0.3
