@import '../lib/colors.styl'

.Contact-container
    & .Contact-item
        & p
            margin 10px 0
            font-weight 600
        & a
            text-decoration none
            color cv-letter
            &:hover
                text-decoration underline