.Title-container
    margin 0
    padding-bottom 8px
    margin: 15px 0
    position relative
    &:after
        content ''
        position absolute
        bottom: 0px
        left: 0%
        width: 45px
        border-bottom 2px solid