@import '../lib/colors.styl'

.layout__container
    display flex
    min-height 100vh
    justify-content center
    align-items center
    background-color cv-base-color
    color cv-letter
    & .layout__subcontainer
        width 80vw
        margin 50px 0
        background cv-base-color
        padding 32px