@import '../lib/colors.styl'
@import '../lib/extends.styl'

.layout__container
    display flex
    min-height 100vh
    justify-content center
    align-items center
    background-color cv-background
    color cv-letter
    & .layout__subcontainer
        width 70vw
        margin 50px 0
        @extend .surface-level-1
        padding 32px