@import './colors.styl'

.Skeuomorphic
    border-radius: 20px;
    background: cv-base-color;
    box-shadow:  9px 9px 16px cv-light-shadow, -9px -9px 16px cv-dark-shadow;

.Carousel-skeuomorphic
    border-radius: 20px;
    background: cv-base-color;
    box-shadow:  4.5px 4.5px 4px cv-light-shadow, -4.5px -4.5px 4px cv-dark-shadow;